<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index Page</title>
</head>
<body>
	<h1>Welcome to the index!</h1>
	<p>
       	<a th:href="@{/saml/login}">SSO Login Page</a>
    </p>
    <p>
       	<a th:href="@{/saml/login?idp=http://openam.example.com:8080/openam}">SSO Login Page - Direct</a>
    </p>
    
</body>
</html>