<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Landing Page</title>
</head>
	<body>
		<h1>You are logged as <span th:text="${username}">null</span>!</h1>
		<p>
   			<a th:href="@{/saml/logout?idp=http://openam.example.com:8080/openam}">SSO Logout</a>
		</p>
	</body>
</html>